assets/readings/*.pdf filter=lfs diff=lfs merge=lfs -text
assets/readings/ebcioglu1997daisy.pdf filter=lfs diff=lfs merge=lfs -text
assets/readings/hamming1986you.pdf filter=lfs diff=lfs merge=lfs -text
