<style>
    .navbar .nav-link { padding: .25rem .55rem; }
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="background:{{ accent_dark }};">
    <div class="container">
        <a class="navbar-brand" href="index.html">{{#if code}}{{ code }} — {{/if}}{{ title }}<span class="d-none d-xl-inline fw-light"> &nbsp;|&nbsp; {{ institution }} — {{ term }}</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#courseNav" aria-controls="courseNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="courseNav">
            <ul class="navbar-nav ms-auto">
                {{#if weeks}}<li class="nav-item"><a class="nav-link" href="index.html#schedule">Schedule</a></li>{{/if}}
                {{#if announcements}}<li class="nav-item"><a class="nav-link" href="index.html#announcements">Announcements</a></li>{{/if}}
                {{#if homeworks}}<li class="nav-item"><a class="nav-link" href="homeworks.html">Homeworks</a></li>{{/if}}
                {{#if readings}}<li class="nav-item"><a class="nav-link" href="readings.html">Readings</a></li>{{/if}}
                {{#if description}}<li class="nav-item"><a class="nav-link" href="info.html">Course Info</a></li>{{/if}}
                <li class="nav-item"><a class="nav-link" href="https://sal-research.github.io/teaching.html">All Courses</a></li>
            </ul>
        </div>
    </div>
</nav>
